<!-- <div class="container">
  <div class="row">
    <div class="col">
      <img
        src="https://img.freepik.com/free-vector/hand-drawn-404-error_23-2147740124.jpg?size=338&ext=jpg"
        class="img-fluid"
      />
    </div>
  </div>
</div> -->
<div class="ezeBodyNotExist">
  <img src="https://i.imgur.com/3jK85XD.png" alt="Imagen de not found" />
  <div class="recuadro">
  <h1>Error 404. Página no encontrada.</h1>

    <button class="buttonEze">
      <a [routerLink]="['/home']">Volver</a>
    </button>
    </div>
</div>
